#Compiled Racket code and backup files.
compiled/*
*.bak

# Commit message template.
commsg

# Assembler source files.
*.s

# Built documentation.
scribblings/*.html
scribblings/*.css
scribblings/*.js
scribblings/compiled/*
doc/*